nav {
    background-color: steelblue;
    padding: 10px;
}

a {
    color: white;
    margin: 40px;
}

h1 {
    text-align: center;
    color: steelblue;
}
nav, footer {
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
p {
    padding: 10px;
}
footer {
    background-color: steelblue;
    color: white;
}
a:hover {
    background-color: white;
    color: steelblue;
}

/*Adding classes*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}